@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.affiliate {
  width: 927px;
  display: flex;
  flex-direction: column;
}
.affiliate__wrapper {
  height: 531px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #242347;
}
.affiliate__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.affiliate__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.affiliate__top h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.462%;
  color: #fff;
}
.affiliate__top-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 35px;
}
.affiliate__top-link {
  width: 246px;
  height: 100%;
  background: #504f6c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.affiliate__top-btn {
  width: 45px;
  height: 100%;
  background: linear-gradient(180deg, #6d63cf 0%, #5244df 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.affiliate__top-btn img {
  width: 12px;
  height: 12px;
}
.affiliate__top-text {
  max-width: 542px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #9897a8;
  text-align: center;
}
.affiliate__top-text span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.affiliate__level-wrapp {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.affiliate__level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  margin-right: 125px;
}
.affiliate__level:last-child {
  margin-right: 0;
}
.affiliate__level::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 10px;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
  left: 40px;
}
.affiliate__level:last-child::before {
  width: 0;
  height: 0;
}
.affiliate__level::after {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -3px;
  left: -2px;
}
/*---уровни---*/
.affiliate__level.level-1::after {
  content: url(../icons/level-1.png);
  top: -4px;
  left: -3px;
}
.affiliate__level.level-2::after {
  content: url(../icons/level-2.png);
}
.affiliate__level.level-3::after {
  content: url(../icons/level-3.png);
  top: -5px;
  left: -5px;
}
.affiliate__level.level-4::after {
  content: url(../icons/level-4.png);
  top: -14px;
  left: -8px;
}
.affiliate__level.level-5::after {
  content: url(../icons/level-5.png);
  top: -37px;
  left: -47px;
}
.affiliate__level.level-next::after {
  content: url(../icons/next.png);
  top: -7px;
  left: -6px;
}
/*---банеры---*/
.affiliate__banner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner-item {
  display: flex;
  width: 282px;
  height: 154px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #242347;
}
.banner-item-coin {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.banner-item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.462%;
  color: #fff;
  margin-top: 10px;
}
.banner-item-bring-out {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.462%;
  color: #ffbb37;
}
.banner-coin {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*---проценты---*/
.level-percentages {
  position: absolute;
  top: -30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.462%;
  color: #fff;
}
.level-friends {
  position: absolute;
  bottom: -45px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.462%;
  color: #9897a8;
  text-align: center;
}
