.personal-bonus {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(../img/bonus-main.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 20px;
}
.personal-bonus__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 84px;
}
.personal-bonus__top h1,
.personal-bonus__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-transform: uppercase;
}
.personal-bonus__top h2 {
  background: linear-gradient(96deg, #fae785 0.9%, #f09c3a 64.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.personal-bonus__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.personal-bonus__card {
  width: 228px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-bonus__card-gif {
  width: 175px;
  height: 81px;
}
