.personal-bonus {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px;
}
.personal-bonus__wrapper {
  display: flex;
  flex-direction: column;
  background: url(../img/bonus-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.personal-bonus__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 84px;
}
.personal-bonus__top h1,
.personal-bonus__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-transform: uppercase;
}
.personal-bonus__top h2 {
  background: linear-gradient(96deg, #fae785 0.9%, #f09c3a 64.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.personal-bonus__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 164px;
}
.personal-bonus__card {
  width: 228px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.personal-bonus__card.active {
  pointer-events: none;
}
.personal-bonus__card-gif {
  width: 175px;
  height: 81px;
  position: relative;
}
.personal-bonus__choice {
  width: 133px;
  height: 38px;
  background: #f4ead1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-bonus__choice.active {
  pointer-events: none;
}
.personal-bonus__abs {
  display: none;
  transition: all 0.3s ease-in-out;
}
.personal-bonus__abs.active {
  display: block;
}
.personal-bonus__card:hover .personal-bonus__abs {
  display: block;
}
.personal-bonus__card:hover .personal-bonus__choice {
  display: none;
}
.personal-bonus__new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.personal-bonus__new.active {
  display: block;
}
/*---bonus popup---*/
.bonus-popup {
  position: fixed;
  inset: 0;
  background: #000000c4;
  z-index: 99999;
  display: flex;
  /* visibility: hidden; */
  transition: all 0.2s ease-in-out;
}
.bonus-popup.active {
  visibility: visible;
}
.bonus-popup__inner {
  max-width: 531px;
  width: 100%;
  height: 411px;
  display: flex;
  flex-direction: column;
  margin: 144px auto auto auto;
  background: #242347;
  border-radius: 10px;
  background: url(../img/bonus-popup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bonus-popup__image-bg {
  position: absolute;
  inset: 0;
}
.bonus-popup__close {
  width: 18px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.bonus-popup__card {
  width: 185px;
  height: 235px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  margin: 45px auto 131px;
  background: #1d1c40;
  z-index: 5;
}
.bonus-popup__card-inner {
  width: 100%;
  height: 175px;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
