.profile {
  max-width: 927px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #242347;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.profile-main__top {
  display: flex;
  gap: 15px;
}
.profile-main__avatar {
  width: 294px;
  height: 373px;
  position: relative;
  display: flex;
}
.profile-main__avatar-down {
  width: 294px;
  position: absolute;
  bottom: 0;
}
.profile-main__avatar-logo {
  width: 202px;
  height: 34px;
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*--- profile-main__top-form ---*/
.profile-main__top-form {
  width: 585px;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}
.profile-main__tabs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 23px;
  border: 1px solid;
  padding-bottom: 16px;
  box-sizing: border-box;
  position: relative;
  border-image-source: linear-gradient(180deg, #34326a 0%, #36328f 100%);
}
.profile-main__tabs::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
}
.profile-main__tab {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #9897a8;
  background: transparent;
  position: relative;
}
.profile-main__tab.active {
  color: #fff;
}
.profile-main__tab.active.profile-main__tab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  height: 3px;
  background: linear-gradient(180deg, #6d63cf 0%, #5244df 100%);
}
.profile-main__form-general {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 10px 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #fff;
  margin-top: 20px;
}
.profile-main__form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-main__form-item input,
.profile-sex-select {
  width: 100%;
  height: 45px;
  background: #ffffff0d;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #fff;
}
.profile-main__form-item input::placeholder {
  color: #9897a8;
}
input:focus::placeholder {
  color: transparent;
}
.profile-main__input-wrapp {
  position: relative;
}
.button-pen {
  width: 28px;
  height: 25px;
  border-radius: 5px;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.button-pen img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.button-confirm {
  width: 97px;
  height: 25px;
  border-radius: 5px;
  background: linear-gradient(180deg, #6d63cf 0%, #5244df 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #fff;
}
.profile-sex-select {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9897a8;
  cursor: pointer;
}
.profile-sex-select.active {
  color: #fff;
}
.profile-sex-select span {
  background: url(../icons/prof-arrow.svg);
  width: 8.75px;
  height: 5px;
}
.profile-sex-select span.active {
  background: url(../icons/prof-arrow-activ.svg);
  width: 8.75px;
  height: 5px;
}
.profile-sex-list {
  width: 132px;
  height: 92px;
  border-radius: 10px;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 17px 15px;
  position: absolute;
  visibility: hidden;
  top: 35px;
  z-index: 2;
}
.profile-sex-list.active {
  visibility: visible;
}
.profile-sex-list::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6.495px solid transparent;
  border-right: 6.495px solid transparent;
  border-bottom: 9px solid #34326b;
  top: -7px;
  left: 30px;
}

.profile-sex-list li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #9897a8;
  cursor: pointer;
}
.profile-sex-list li:hover,
.profile-sex-list li.active {
  color: #fff;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 6.495px solid transparent;
  border-right: 6.495px solid transparent;
  border-bottom: 9px solid black;
}
.profile-main__form-submit {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: linear-gradient(180deg, #6d63cf 0%, #5244df 100%);
  backdrop-filter: blur(10px);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #fff;
}
