@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.tournament {
  max-width: 927px;
  width: 100%;
}
.tournament__wrapper {
  display: flex;
  flex-direction: column;
  background: #242347;
  border-radius: 10px;
  gap: 30px;
}
.tournament__top {
  display: flex;
  gap: 70px;
  padding: 20px;
  box-sizing: border-box;
}
.tournament__text {
  max-width: 391px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tournament_button {
  width: 103px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(180deg, #6d63cf 0%, #5244df 100%);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  color: #fff;
  text-transform: uppercase;
}
.tournament__text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 36.57px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}
.tournament__text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19.5px;
  color: #fff;
  margin-top: 5px;
}
.tournament__top-items {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 10px;
}
.tournament__item-l {
  width: 167px;
  height: 58px;
  border-radius: 10px;
  background: #3c3463;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  gap: 5px;
}
.tournament__icon-l {
  width: 27px;
  height: 36px;
}
.tournament__item-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.tournament__item-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 8px;
  line-height: 8.53px;
  color: #ffffff80;
}
.tournament__item-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  color: #fff;
}
.tournament__item-r {
  width: 210px;
  height: 58px;
  border-radius: 10px;
  background: #3c3463;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  gap: 5px;
}
.tournament__item-r span {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 10px;
  line-height: 12.19px;
  color: #ffffff80;
}
.tournament__item-text-r {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
.tournament__item-r h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: #fff;
}
.tournament__icon-r {
  width: 30px;
  height: 30px;
}
.tournament__image {
  width: 350.9px;
  height: 369.18px;
}
.tournament__image img {
  object-fit: cover;
}
.tournament__read {
  width: 126.5px;
  height: 40.33px;
  border-radius: 9.17px;
  background: #594b9d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18.33px;
  line-height: 22.35px;
  color: #fff;
}
.tournament__read img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}
